IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=/home/meli/Escritorio/tp-2023-1c-KernelFlow/filesystem/superbloque.dat
PATH_BITMAP=/home/meli/Escritorio/tp-2023-1c-KernelFlow/filesystem/bitmap.dat
PATH_BLOQUES=/home/meli/Escritorio/tp-2023-1c-KernelFlow/filesystem/bloques.dat
PATH_FCB=/home/meli/Escritorio/tp-2023-1c-KernelFlow/filesystem/fcb
